

#include "Pods/Target Support Files/Pods-HealthCarePrashant/Pods-HealthCarePrashant.development.xcconfig"

//Google Info.plist Items //Google Login and Firebase Push
PROJECT_CLIENT_ID = 960044561911-kaok0ob7ejqtffug9p2vgm6g6pjftbdj.apps.googleusercontent.com
PROJECT_REVERSED_CLIENT_ID = com.googleusercontent.apps.960044561911-kaok0ob7ejqtffug9p2vgm6g6pjftbdj
PROJECT_GOOGLE_PLIST = HealthCarePrashant_GoogleService-Info
BACKEND_SERVER_KEY = AAAA34cddfc:APA91bEEa_k2wElR68Nn7DDMB32o1P-1d-qvMA_S_WKDj9qL49YDn70enxibcNvOzJcD15OokDFcZJSE1ew_AuMUZSL40BS8UQd9Uh6Ztk4NrsY4upR3FpvxvqWNigI5goKyspjHZIbL

//Facebook SDK //SigIn
PROJECT_FACEBBOK_APP_ID = 1103838806679919

//App Store ID
PROJECT_APPLE_APP_ID = 1541455523
RELATED_OTHER_APPLE_APP_ID = 1541455530
PROJECT_BUNDLE_ID = com.prashant.healthcare
PROJECT_APP_VERSION = 1.0.2
PROJECT_BUILD_VERSION = 1
PROJECT_APP_NAME = TFH Care //Change in Localizable also
PROJECT_PLIST = Info_HealthCarePrashant


//Related Android App
PROJECT_ANDROID_PACKAGE_NAME = com.mydoctor.user

//DeepLinking
PROJECT_FIREBASE_PAGE_LINK = healthcaremydoctor.page.link

//Server URLs
PROJECT_PROJECT_ID = c8ce267181881c2d0e7251cda66172b07
PROJECT_BASE_PATH = https:/$()/thefinesthealthcare.com/
 


PROJECT_SOCKET_BASE_PATH = https:/$()/socket.thefinesthealthcare.com
 

//PROJECT_SOCKET_BASE_PATH = https:/$()/node.thefinesthealthcare.com

//PROJECT_JITSI_SERVER = https:/$()/meet.royoapps.com/
PROJECT_JITSI_SERVER =  https:/$()/meet.thefinesthealthcare.com/

PROJECT_IMAGE_THUMBS = https:/$()/cdn-assets.thefinesthealthcare.com/thumbs/
PROJECT_IMAGE_UPLOAD = https:/$()/cdn-assets.thefinesthealthcare.com/uploads/
PROJECT_IMAGE_ORIGINAL = https:/$()/cdn-assets.thefinesthealthcare.com/original/
PROJECT_PDF = https:/$()/cdn-assets.thefinesthealthcare.com/pdf/
PROJECT_AUDIO = https:/$()/cdn-assets.thefinesthealthcare.com/audio/

//Localizbale file name
PROJECT_LOCALIZABLE = LocalizableHealthCare
ENTITLEMENTS = Healthcare.entitlements

ACTIVE_COMPILATION_FLAG = HealthCarePrashant
//
//ID : pbudania18@gmail.com
//pass: Goom@123
//95488b9110b273783ed609f73a1c9006013fa077

