<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960044561911-kaok0ob7ejqtffug9p2vgm6g6pjftbdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960044561911-kaok0ob7ejqtffug9p2vgm6g6pjftbdj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960044561911-8g5t6l2f8oj7k2datruc0953e157enur.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB_gA1mv9uHgvuLRzWnP24rZDMWqtB90c</string>
	<key>GCM_SENDER_ID</key>
	<string>960044561911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prashant.healthcare</string>
	<key>PROJECT_ID</key>
	<string>mydoctor-b75b0</string>
	<key>STORAGE_BUCKET</key>
	<string>mydoctor-b75b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960044561911:ios:0e46866bfdcdcd4d76eaf2</string>
	<key>DATABASE_URL</key>
	<string>https://mydoctor-b75b0.firebaseio.com</string>
</dict>
</plist>