

#include "Pods/Target Support Files/Pods-CloudDoc/Pods-CloudDoc.development.xcconfig"

//Google Info.plist Items //Google Login and Firebase Push
PROJECT_CLIENT_ID = 544986339482-dn2ki7j6kddoej6em7ks5mfro0ju792o.apps.googleusercontent.com
PROJECT_REVERSED_CLIENT_ID = com.googleusercontent.apps.544986339482-dn2ki7j6kddoej6em7ks5mfro0ju792o
PROJECT_GOOGLE_PLIST = CloudDoc_GoogleService-Info
BACKEND_SERVER_KEY = AAAAfuO3mJo:APA91bEWlsEv80Wi5oeTMc4xg9eA9X6JKf6yZD1rTwHJvtHDZd2w4sO8bcNUev73_1mDEr7KA-6A6cIYdiBIgHf8INI39tRDimzYD399whE0dawW5bEuXpFE0T_IlcDagkhHBmEDRYZ9

//Facebook SDK //SigIn
PROJECT_FACEBBOK_APP_ID = 879961852793008

//App Store ID
PROJECT_APPLE_APP_ID = 1570410048
RELATED_OTHER_APPLE_APP_ID = 1570411592
PROJECT_BUNDLE_ID = com.clouddoc.user
PROJECT_APP_VERSION = 1.0.0
PROJECT_BUILD_VERSION = 3
PROJECT_APP_NAME = CloudDoc //Change in Localizable also
PROJECT_PLIST = Info_CloudDoc


//Related Android App
PROJECT_ANDROID_PACKAGE_NAME = com.clouddoc.user

//DeepLinking
PROJECT_FIREBASE_PAGE_LINK = clouddoc.page.link

//Server URLs
PROJECT_PROJECT_ID = eee7f84ccfb6ef2223ec464ab4e9309318
PROJECT_BASE_PATH = https:/$()/api.clouddoconline.com/
PROJECT_SOCKET_BASE_PATH = https:/$()/socket.clouddoconline.com
PROJECT_JITSI_SERVER = https:/$()/meet.clouddoconline.com/
PROJECT_IMAGE_THUMBS = https:/$()/clouddoc-assets.s3.af-south-1.amazonaws.com/thumbs/
PROJECT_IMAGE_UPLOAD = https:/$()/clouddoc-assets.s3.af-south-1.amazonaws.com/uploads/
PROJECT_IMAGE_ORIGINAL = https:/$()/clouddoc-assets.s3.af-south-1.amazonaws.com/original/
PROJECT_PDF = https:/$()/clouddoc-assets.s3.af-south-1.amazonaws.com/pdf/
PROJECT_AUDIO = https:/$()/clouddoc-assets.s3.af-south-1.amazonaws.com/audio/

//Localizbale file name
PROJECT_LOCALIZABLE = LocalizableCloudDoc
ENTITLEMENTS = CloudDoc.entitlements

ACTIVE_COMPILATION_FLAG = CloudDoc


//Amitk@code-brew.com
//Password : Expert@2020
