<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961139685643-2rg4aq24vesm5quvs80nifgug3a43k51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961139685643-2rg4aq24vesm5quvs80nifgug3a43k51</string>
	<key>API_KEY</key>
	<string>AIzaSyASIpkOaBzeq-5rH4aLk_osciTCMBkfIAU</string>
	<key>GCM_SENDER_ID</key>
	<string>961139685643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airdoc.user</string>
	<key>PROJECT_ID</key>
	<string>airdoc-37725</string>
	<key>STORAGE_BUCKET</key>
	<string>airdoc-37725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961139685643:ios:1c53a0af8b9d38eed20a0e</string>
</dict>
</plist>